server/node_modules
server/build
server/logs

server/.idea
server/.vscode
server/.env
server/.node-*
server/.DS_Store

server/npm-debug.log
server/error.log
server/package-lock.json


agent/node_modules
agent/build
agent/logs

agent/.idea
agent/.vscode
agent/.env
agent/.node-*
agent/.DS_Store

agent/npm-debug.log
agent/error.log
agent/package-lock.json

builds
db.json